* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eaeae3;
}

h2 {
    color: red;
}

.header {
    padding: 10px 0;
    background-color: dodgerblue;
    border-bottom: 3px solid red;
}

.main {
    padding: 40px 0;
}

.section {
    padding: 60px 0;
}

.menu-div {
    padding: 60px 0;
}

.item-desc {
    font-size: 14px;
    font-style: italic;
}

.item-item {
    color: dodgerblue;
}

.item-price {
    color: red;
}

.subtotal-div, .ticket-div {
    padding: 15px;
    background-color: whitesmoke;
    border: 3px solid dodgerblue;
    border-radius: 5px; 
}

.footer {
    padding: 10px 0;
}